@use 'index' as *;

.header {
    h1 {
        font-family: $h1;
        text-align: center;
        padding-top: 10%;
        letter-spacing: 8px;
        text-transform: uppercase;
        color: #1a535c;
        font-size: 3rem;
    }


}