$h1: 'Varela Round', sans-serif;
$h2:'Varela Round',
sans-serif;
$p: 'Lora', serif;

body {
    .wrapper {
            max-width: 1260px;
            width: 93%;
            margin: 0 auto;
        }
    
        html {
            font-size: 125%;
        }
    
        background-color: rgba(233, 189, 66, 0.4);
}